  .inner {
    max-width: 58.75em;
  }
  .flex-row {
    display: flex;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
    color: #4d97ff;
  }
  a {
    text-decoration: none;
    color: #4d97ff;
    cursor: pointer;
    font-weight: bold;
  }
  .project-card {
    max-width: 270px;
    margin: 0 1.5rem;
    border: 1px solid #d9d9d9;
    border-radius: .5rem;
    background-color: white;
    overflow: hidden;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .project-card-info {
      padding: 1rem;
  }
